{% extends 'inloggen/base.html.twig' %}

{#{% block inlogmenu %}#}
{#{% endblock %}#}

{#{% block inlogNavigation %}#}
{#{% endblock %}#}

{% block body %}
    <h1>Inloggen</h1>
    <i>Ingelogd als Admin</i>
{% endblock %}