body {
    background: #BFBFBF;
    font-family: Calibri;
}

#container {
	background: #FFF;
	min-height: 100vh;
	width: 940px;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	overflow: hidden;
}

a:visited {
	color: blue;
}

/* HEADER */

header {
	width: 100%;
	text-align: center;
	font-family: Verdana;
	padding-top: 1em;
	padding-bottom: 1em;
	background-size: cover;
	color: #FFF;
	background: #212121;
}

header h1 {
	font-weight: normal;
	margin: 0;
}

header h2 {
	font-weight: normal;
	margin: 0;
}

/* MENU */

#menu {
	background: #F2E609;
	font-size: 12pt;
	padding-left: 1.7em;
	padding-right: 1.7em;
	text-align: left;
	display: block;
	width: 100%;
	float: left;
	box-sizing: border-box;
}

#menu a:link, #menu a:visited {
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: .6em 1em;
	margin: 0;
	float: left;
	
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

#menu a:hover, #menu a:active {
	background: #CCBE08;
	color: #FFF;
}

/* NOTIFICATION & STATISTIEK*/

#statistiek {
	background: #C1C1C1;
	display: block;
	text-align: center;
	padding-left: 2.3em;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	letter-spacing: .2em;
}

#notification {
	width: 100%;
	background: #CC0000;
	display: block;
	text-align: left;
	padding-left: 2.3em;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	margin-top: 1em;
}

#notification b {
	color: #FFF;
	letter-spacing: .2em;
}

/* CONTENT */

.index {
	width: 60%;
}

article {
	width: 90%;
	float: left;
	text-align: left;
	padding: 1em 2.3em .6em 2.3em;
	color: #212121;
}

article h1 {
	font-weight: normal;
}

article .titel {
	display: block;
	padding: .2em;
	padding-left: .7em;
	background: #212121;
	color: #FFF;
	border-radius: 5px;
}

article .titel h2 {
	margin: 0;
	font-size: 16pt;
	font-weight: normal;
	display: inline-block;
}

article .details {
	margin-left: 5px;
	font-style: italic;
	font-size: 10pt;
}

article .bericht {
	margin-top: .4em;
	margin-left: 5px;
}

article h2 {
	font-size: 14pt;
	font-weight: normal;
	margin: .6em 0 0 0;
}

/* MAILS TABEL */

article #mails td{
	vertical-align: top;
}

/* INSCHRIJVINGEN PAGINA */

article .cat {
	background: rgba(255,255,0,0.55);
	font-size: 12pt;
	width: 100px;
	color: #000;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	margin: 3px;
}

article .niv {
	background: rgba(0,0,0,0.4);
	font-size: 12pt;
	width: 100px;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	margin: 3px;
}

article .niv_vol {
	background: rgba(255,0,0,0.6);
	font-size: 12pt;
	width: 100px;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	margin: 3px;
}

article .niv_bijnavol {
	background: rgba(255,170,0,0.6);
	font-size: 12pt;
	width: 100px;
	color: #FFFF00;
	border-radius: 5px;
	text-decoration: none;
	padding: 3px;
	text-align: center;
	margin: 3px;
}

article .inschrijvingen table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

article .inschrijvingen th {
	font-weight: normal;
	text-align: right;
	padding-right: 1em;
	padding-left: 1em;
}

article .inschrijvingen_nieuw {
	background: #E1E1E1;
	border-radius: 5px;
	padding: .4em .6em;
}

article .inschrijvingen .vrij {
	color: rgba(0,220,0,1);
}

/* ASIDE */

aside {
	float: right;
	width: 25%;
	text-align: left;
	margin-right: 2em;
}

aside h1 {
	font-weight: normal;
}